<script id="template" type="text/x-handlebars-template">
<div class="row">
	<h4>7. 28. 월.</h4>
	<ul>
		<li class="text-primary">jquery</li>
		<li class="text-primary">bootstrap</li>
		<li class="text-primary">q - 비동기 순차 호출</li>
		<li class="text-primary">jstorage + json2 - 3분 로컬스토리지</li>
		<li class="text-primary">labJS - 자바스크립트 비동기 로드</li>
		<li class="text-primary">lodash</li>
		<li class="text-primary">hammer - 터치 이벤트</li>
		<li class="text-primary">zebra_datepicker - 달력</li>
	</ul>
</div>
<div class="row">
	<h4>7. 29. 화.</h4><ul><li class="text-primary">새가족 입력 기능 추가</li></ul>
</div>
<div class="row">
	<h4>8. 2. 토.</h4>
	<ul>
		<li class="text-mute">labJS 제거</li>
		<li class="text-primary">requireJS 적용 - 모듈화 및 mvc</li>
		<li class="text-primary">어플리케이션 캐시 적용</li>
	</ul>
</div>
<div class="row">
	<h4>8. 5. 화.</h4>
	<ul>
		<li class="text-primary">rJS 적용 - requireJS optimize</li>
		<li class="text-primary">tomcat에 gzip 적용</li>
	</ul>
</div>
<div class="row">
	<h4>8. 21. 목.</h4>
	<ul>
		<li class="text-mute">zebra_datepickerJS 제거</li>
		<li class="text-primary">pikadatepickerJS 적용</li>
		<li class="text-primary">momentJS 적용</li>
	</ul>
</div>
<div class="row">
	<h4>8. 23. 토.</h4>
	<ul>
		<li class="text-primary">handlebarsJS 적용 - template 별도 분리</li>
		<li class="text-primary">팀화면 달력 8.23 이전날짜 잠금</li>
	</ul>
</div>
<div class="row">
	<h4>8. 30. 토.</h4>
	<ul>
		<li class="text-primary">main.js 비동기 로드</li>
		<li class="text-primary">html 압축</li>
	</ul>
</div>
<div class="row">
	<h4>9. 5. 금.</h4>
	<ul>
		<li class="text-primary">팀개편 고려 db 변경</li>
	</ul>
</div>
<div class="row">
	<h4>9. 7. 일.</h4>
	<ul>
		<li class="text-primary">xssFilterJS 적용</li>
		<li class="text-primary">콘솔창 임의 수정 방지</li>
	</ul>
</div>
<div class="row">
	<h4>9. 8. 월.</h4>
	<ul>
		<li class="text-primary">favicon 추가</li>
		<li class="text-primary">html5 태그로 수정</li>
	</ul>
</div>
<div class="row">
	<h4>9. 9. 화.</h4>
	<ul>
		<li class="text-primary">audioJS 적용</li>
	</ul>
</div>
<div class="row">
	<h4>9. 13. 토.</h4>
	<ul>
		<li class="text-primary">lazy load 적용</li>
	</ul>
</div>
<div class="row">
	<h4>11. 9. 일.</h4>
	<ul>
		<li class="text-primary">팀 개편 적용</li>
	</ul>
</div>
<div class="row">
	<h4>2015. 4. 26. 일.</h4>
	<ul>
		<li class="text-primary">청년부 팀 개편 적용</li>
		<li class="text-primary">스트리밍 제거</li>
	</ul>
</div>
<div class="row">
	<h4>2015. 4. 28. 화.</h4>
	<ul>
		<li class="text-primary">새가족 로직 이슈 수정</li>
	</ul>
</div>

<div class="row">
	<h4>예정</h4>
	<ul>
		<li class="text-primary">UI 수정</li>
		<li class="text-primary">차트</li>
		<li class="text-primary">router 구현</li>
	</ul>
</div>
</script>