<script id="template" type="text/x-handlebars-template">
<ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="#">청년부</a></li>
    <li class="sidebar-team" data-teamcode="y01" data-team="박상희팀" data-department="청년부"><a href="#">박상희팀</a></li>
    <li class="sidebar-team" data-teamcode="y02" data-team="김태용팀" data-department="청년부"><a href="#">김태용팀</a></li>
    <li class="sidebar-team" data-teamcode="y03" data-team="정원철팀" data-department="청년부"><a href="#">정원철팀</a></li>
    <li class="sidebar-team" data-teamcode="y04" data-team="이설아팀" data-department="청년부"><a href="#">이설아팀</a></li>
    <li class="sidebar-team" data-teamcode="y05" data-team="이창규팀" data-department="청년부"><a href="#">이창규팀</a></li>
    <li class="sidebar-my"><a href="#">개발현황</a></li>
</ul>
</script>