<script id="template" type="text/x-handlebars-template">
	<button class="btn btn-primary part" data-part="save">저장</button>
	<button class="btn btn-warning part" data-part="cancel">취소</button>
	<button class="btn btn-danger part" data-part="delete">삭제</button>

	<div class="modal fade" id="partModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title" id="myModalLabel">완료</h4>
		      </div>
		      <div class="modal-footer" style="text-align:center !important">
		        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
		      </div>
		    </div>
	  	</div>
	</div>
</script>