<script id="template" type="text/x-handlebars-template">
<div class="table-responsive">
	<table class="table table-condensed">		    	
		<thead><tr><td colspan="3"><h4>새가족</h4></td></tr></thead>
		<tbody id="teamFreshList">
			<tr>
				<td><div class="input-group input-group-sm"><span class="input-group-addon">1</span><input type="text" class="form-control fresh"/></div></td>
				<td><div class="input-group input-group-sm"><span class="input-group-addon">2</span><input type="text" class="form-control fresh"/></div></td>
				<td><div class="input-group input-group-sm"><span class="input-group-addon">3</span><input type="text" class="form-control fresh"/></div></td>												
			</tr>
			<tr>
				<td><div class="input-group input-group-sm"><span class="input-group-addon">4</span><input type="text" class="form-control fresh"/></div></td>
				<td><div class="input-group input-group-sm"><span class="input-group-addon">5</span><input type="text" class="form-control fresh"/></div></td>
				<td><div class="input-group input-group-sm"><span class="input-group-addon">6</span><input type="text" class="form-control fresh"/></div></td>												
			</tr>
		</tbody>
	</table>
</div>
</script>